version: "3.8"
services:
  dndbackend:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
  mongodb:
    image: mongo:latest
    container_name: dndmongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: dnddb
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: adminpassword
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local